<! DOCTYPE html >
|  < html  lang =" en " >
|   < head >
|     < title > Мопс </ title >
|     < script  type =" text / javascript " >
|       if  ( foo )  bar ( 1  +  5 )
|     </ script >
|   </ head >
|   < body >
|     < h1 > Pug - шаблонизатор узлов </ h1 >
|     <div  id =" container " class =" col " >
|       < p > Вы просто великолепны </ p >
|       < p > Pug - лаконичный и простой язык шаблонов с упором на производительность и мощные функции. </ p >
|     </ div >
|   </ body >
| </ html >